<a href="https://colab.research.google.com/github/ValeryKharkov/numpy_pandas_tinkoff/blob/main/Tinkoff_%D0%90%D0%94%D0%92%D0%98_2023_HW_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
my_series = pd.Series([i for i in range(0, 110, 10)])
my_series

0       0
1      10
2      20
3      30
4      40
5      50
6      60
7      70
8      80
9      90
10    100
dtype: int64

In [ ]:
city = {'Город': ['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург'],
        'Год основания': [1147, 1703, 1893, 1723], 
        'Население': [11.9, 4.9, 1.5, 1.4]} 

df = pd.DataFrame(city)
df

             Город  Год основания  Население
0           Москва           1147       11.9
1  Санкт-Петербург           1703        4.9
2      Новосибирск           1893        1.5
3     Екатеринбург           1723        1.4

0) Для генерации данных в random необходимо установить seed = "АДВИ_2023", длина каждого списка N = 1000;

In [108]:
import pandas as pd
import random

random.seed('АДВИ_2023')
N = 1000

1) index колонка: создать список из N последовательных целых элементов от 1 до 1000 включительно, далее, с помощью специальной функции random перемешать его;

In [109]:
index_column = [i for i in range(1, N + 1)]
random.shuffle(index_column)
index_column
data = {
    'index' : index_column
    }
df = pd.DataFrame(data)
df

     index
0      476
1      315
2      490
3      748
4      471
..     ...
995    260
996    146
997    972
998    161
999    587

[1000 rows x 1 columns]

2) groups колонка: создать список из N элементов, состоящий из значений из списка ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], необходимо использовать функцию из random которая возвращает список элементов длины k, выбранных из последовательности population с перестановкой элементов;

In [110]:
groups = ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"]
groups_column = [random.choices(groups, k=1) for i in range(N)]

data = {
    'index' : index_column,
    'groups' : groups_column
    }
df = pd.DataFrame(data)
df

     index      groups
0      476  [группа_1]
1      315  [группа_5]
2      490  [группа_4]
3      748  [группа_3]
4      471  [группа_5]
..     ...         ...
995    260  [группа_4]
996    146  [группа_4]
997    972  [группа_1]
998    161  [группа_1]
999    587  [группа_5]

[1000 rows x 2 columns]

3) uniform колонка: создать список из N элементов, состоящий из целых значение из равномерного распределения [50, 100] ;